/*  básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

/* css dos títulos */
h1,
h2,
h3 {
  font-family: "Bebas Neue", sans-serif;
  color: #0077cc;
  margin-bottom: 10px;
  text-align: center;
}

/* css Cabeçalho e menu */
header {
  background-color: #0077cc;
  padding: 20px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 8px 14px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #ffd700;
  color: #333;
}

.subtitulo-topo {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

/* css do principal */
main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px;
}

main p {
  margin-bottom: 16px;
  text-align: justify;
}

/* legenda da parte de baixo */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 10px;
  }

  main {
    padding: 0 10px;
  }
}

/*Classes específicas que criei depois*/
.servico-topico {
  text-align: left;
  margin-top: 25px;
  color: #0077cc;
  font-size: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

main ul li {
  margin-bottom: 10px;
}

main ul {
  margin-top: 15px;
}